{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
<!--
1. what stocks
2. numbers of shares
3. current price of each stock
4. total value of each holding (current price * shares)
5. cash balance (cash + stock value)
)-->

<h>Your Account</h>
<br>
<table class= table "table-striped">
    <thead>
        <tr>
            <th scope="col">Stock</th>
            <th scope="col">Number of shares</th>
            <th scope="col">Current price</th>
            <th scope="col"> Total value</th>
        </tr>
    </thead>
    <tbody>
        {% for rows in history %}
        <tr>
            <th scope="row">{{ rows.symbol }}</th>
            <td>{{ rows.shares }}</td>
            <td>{{ rows.current_price | usd }}</td>
            <td>{{ rows.total_value | usd }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<h>Cash remaining : {{ cash_balance | usd }}</h>
<br>
<h>Total balance : {{ cash | usd }}</h>
<br>
<br>
<a href="addcash">Add more cash</a>

{% endblock %}